body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

.slider .slides li .caption{
  color:black;
  font-weight:bold;
  top:30%;
}

.slider .slides li img{
  filter: opacity(70%) saturate(50%) blur(3px) ;

}

.sub{
  color:black;
}


/* Large screens ----------- */
@media only screen  and (min-width : 1200px) {
  /* Styles */
  .slides li{
    min-height: 600px;
  }

  .slider{
    height: 600px !important;
  }

  .slides{
    height: 600px !important;
  }

}
  