body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

.slider .slides li .caption{
  color:black;
  font-weight:bold;
  top:20%;
}

.slider .slides li img{
  filter: opacity(70%) saturate(50%) blur(3px) ;

}

.sub{
  color:black;
}


/* Large screens ----------- */
@media only screen  and (min-width : 1200px) {
  /* Styles */
  .slides li{
    min-height: 600px;
  }

  .slider{
    height: 600px !important;
  }

  .slides{
    height: 600px !important;
  }

}

@media only screen  and (max-width : 600px) {
  /* Styles */
  .parallax-container {
    height: 400px;
  }

}

.parallax-container h5{
  color:white;
  font-weight: 700;
}

.parallax-container img{
  filter: saturate(50%) opacity(95%) brightness(50%);
}
#about{
  margin-top:-50px ;
  padding-top:50px;
}

#projects{
  margin-top:-50px ;
  padding-top:50px;
}